[Unit]
Description=System Upgrade using DNF
ConditionPathExists=/system-update
Documentation=http://www.freedesktop.org/wiki/Software/systemd/SystemUpdates

DefaultDependencies=no
Requires=sysinit.target
After=sysinit.target systemd-journald.socket system-update-pre.target
Before=shutdown.target system-update.target
OnFailure=dnf-system-upgrade-cleanup.service

[Service]
# We are done when the script exits, not before
Type=oneshot
# Upgrade output goes to journal and on-screen.
StandardOutput=journal+console
ExecStart=/usr/bin/dnf system-upgrade upgrade

[Install]
WantedBy=system-update.target
